
<div>
    <ul>
        <li><a href="<%= users_path %>">Users</a></li>
        <li><a href="<%= projects_path %>">Projects</a></li>
        <li><a href="<%= my_projects_path %>">My Projects</a></li>
    </ul>
</div>



<%= flash[:notice] %>